albumentations
beautifulsoup4
cffi
datasets
docstring-parser
fastapi
gguf
httpx
huggingface-hub
instructor
insightface
jinja2
matplotlib
mistral-common
numpy
opencv-python
openai
packaging
pandas
peft
Pillow
psutil
pydantic
pyautogui
pyperclip
PySide6
python-dotenv
PyYAML
pytest
readability-lxml
requests
safetensors
scikit-learn
seaborn
sentence-transformers
sentencepiece
sounddevice
tabulate
torch
tqdm
transformers
trafilatura
typer
typing-extensions
uvicorn
wandb
wget
GitPython